img
{
    height: 40px;
    width: 40px;
    margin-left: 8px;
    border-radius: 50%;
}
li:hover
{
    background-color: rgba(0,0,0,0.1);
}
li
{
    margin-bottom: 16px;
    padding: 16px;
    color: black;
}
a
{
    text-decoration: none !important;
}
#body
{
    display: flex!important;
}
#text
{
    margin-left: 16px;
}
#username
{
    font-size: 12px;
    color: gray;
}