<div class="card">
    <div class="card-body">
      <header id="WTF">
        Who to follow
      </header>
      <ul>
          <a href="#">
              <li>
                <div id="SA">
                    <img src="../../assets/download.png" alt="">
                    <div id="text">
                        <span id="name">
                            Sample Account <br>
                        </span>
                        <span id="username">
                            @SampleAcc
                        </span>
                    </div>
                    <button>
                        Follow
                    </button>
                </div>
              </li>
          </a>
      </ul>
    </div>
</div>