a
{
    text-decoration: none;
    color: black;
}
li
{
    padding: 16px;
}
ul
{
    justify-content: center;
}
li:hover
{
    background-color: rgba(0,0,0,0.1);
}
form
{
   width: 500px; 
}
div
{
    display: flex;
    justify-content: space-between;
}
svg
{
    height: 26px!important;
    width: 26px!important;
    margin-top: 5px;
    border-radius: 50%;
}
svg:hover
{
    background-color: rgba(0,0,0,0.1)
}