<div class="card">
  <div class="card-body">
    <header id="WH">
      What's happening
    </header>
    <ul>
      <a href="#">
        <li>
          <h6 id="TCat">
            Twitter - LIVE
          </h6>
          <span id="TBody">
            Man tries to recreate Twitter, legal action is being taken.
          </span>
      </li>
      </a>
      <a href="#">
        <li class="has-image">
          <div>
            <h6 id="VGCat">
              Video Games - 69 minutes ago
            </h6>
            <span id="VGBody">
              Mojang announces 'Minecraft 2', contains no cubes.
            </span>
          </div>
          <img src="../../assets/minecraft-1-logo-png-transparent.png" alt="">
        </li>
      </a>
      <a href="#">
        <li id="SM">
          Show more
        </li>
      </a>
    </ul>
  </div>
</div>